// globals 

body {
  padding-top: 66px;
  color: $mainBlack;
  background: $mainWhite;
  font-family: $font-primary;
  line-height: 1.4;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: $mainSpacing;
  // color: $mainBlack;
  color: $mainWhite;
    background: transparent;
  padding: 0.4rem 0.9rem;
  border: 1px solid $mainWhite;
  transition: $mainTransition;
  text-transform: uppercase;
  cursor: pointer;

  &:hover  {
  background: $primaryColor;
    color: $mainWhite;
    border: 1px solid $mainWhite;
  }
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 5rem;
  font-size: 1rem;
  color: $primaryColor;
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: $mainSpacing;
}